<div class="container-fluid text-center p-4">
    <h1>Eat The Burger</h1>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-4-lg text-center uneaten">
            <ul>
                {{#each burger}} {{#unless devoured}}
                <li>
                    <p>
                        {{this.burger_name}}

                        <button data-burgerid="{{this.id}}" class="devburger" data-newDevour={{devoured}}>Devour</button>
                    </p>
                </li>
                {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col-4-lg text-center picture p-4">
            <img src="/assets/img/burgers2.png" alt="burger cartoon image" class="burgerImg">
        </div>
        <div class="col-4-lg text-center eaten">
            <ul>
                {{#each burger}} {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>
    <div class="row text-center p-4">
        <div class="col-12-lg ">
            <form id="addburger" class="button-size">
                <textarea type="text" name="burger" id="burgerInput"></textarea>
                <button type="submit" class="btn btn-primary">Add Burger!</button>
            </form>
        </div>
    </div>
</div>