body {
  min-height: 100%;
  text-align: center;
  background: url("images/burgerbg.jpg");
  background-size: cover;
}

.eaten {
  float: right;
}

textarea {
  width: 250px;
  margin: 0 auto;
  font-family: "Varela Round", sans-serif;
}

.devburger,
.btn {
  background-color: red;
  color: white;
  font-family: "Varela Round", sans-serif;
  border: none;
}

.devburger:hover,
.btn:hover {
  background-color: grey;
  font-family: "Varela Round", sans-serif;
  border: none;
}

ul {
  list-style-type: none;
  color: white;
  font-family: "Varela Round", sans-serif;
}

h1 {
  color: white;
  font-family: "Varela Round", sans-serif;
}
