body {
  background: url("../public/assets/images/burgerbg.jpg");
}

.eaten {
  float: right;
}

.burgerImg {
  width: 250px;
}

textarea {
  width: 250px;
  margin: 0 auto;
}

.devburger {
  background-color: #3e6eff;
  color: white;
}

ul {
  list-style-type: none;
  color: white;
}

h1 {
  color: white;
}
